/* GLOBAL */
.cta-btn-orange {
    background: #ff4d1c;
    color: white;
    padding: 10px 15px;
    margin: 0;
    width: max-content;
    position: relative;
    border-radius: 2px;
    border: 2px solid #ff4d1c;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    font-family: "Merriweather", serif;
    transition: all .2s ease-in-out;
}

.cta-btn-orange:hover {
    text-decoration: none;
    color: #ff4d1c;
    background: transparent;
}

.ghost-btn-orange {
    color: #ff4d1c;
    background: transparent;
    padding: 10px 15px;
    margin: 0;
    width: max-content;
    position: relative;
    border-radius: 2px;
    border: 2px solid #ff4d1c;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    font-family: "Merriweather", serif;
    transition: all .2s ease-in-out;
}

.ghost-btn-orange:hover {
    text-decoration: none;
    background: #ff4d1c;
    color: white;
}

.white {
    color: white;
}

/* HOME PAGE */

/* 2.html */
.background-image {
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

/* 3.html */
.icon-card {
    height: 275px;
    max-height: 275px;
    min-height: 275px;
    width: 275px;
    max-width: 275px;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 7.html */

.tile-bg {
    height: 275px;
    max-height: 275px;
    min-height: 275px;
    width: 275px;
    max-width: 275px;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

.tile-bg h3, span {
    text-decoration: none;
    color: white;
}

.tile-bg, a:hover{
    text-decoration: none;
    color: white;
}

/* OVERVIEW PAGE */

/* 1.html */
.video-experience {
    background-color: rgb(172 206 245);
}

/* 5.html */
.card-img-container {
    overflow: hidden;
    max-height: 150px;
    height: 150px;
}

.card-img-container img {
    height: 100%;
    object-fit: cover;
}

/* 8.html */
.footer-link-container {
    flex: 1 1 150px;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}
.footer-link {
    color: #213859;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
    display: block;
}